#board{
  border: 1px solid black;
  width: 75vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
}
.square{
  border: 1px solid black;
  width: 25vw;
  height: 20vh;
  box-sizing: border-box;
  border-radius: 50%;

}
.toClick{
  background-color: green;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}